{% extends 'base.html.twig' %}

{% block title %}Paiement réussi
{% endblock %}

{% block body %}
	{% include "components/header.html.twig" %}
	<main class="cart-success">
		<section class="success-message">
			<div class="pastille-cont">
				{% include 'components/pastille.html.twig' with {'icon': 'bx bx-check-circle'} %}
			</div>
			<h1>Paiement réussi !</h1>
			<p>Merci pour votre achat. Votre commande a été confirmée et sera expédiée dans les plus brefs délais.</p>
			<a href="{{ path('app_home') }}" class="button">Retour à l'accueil</a>
		</section>
	</main>
	{% include "components/footer.html.twig" %}
{% endblock %}
