{% extends 'base.html.twig' %}

{% block title %}Contact - Flexfit
{% endblock %}

{% block body %}
	{% include "components/header.html.twig" %}
	<main class="contact">
		<section class="simple-hero">
			<div class="content">
				<h1>Contactez-nous</h1>
				<p>Une question, un besoin d’information ? Notre équipe est là pour vous aider ! Remplissez le formulaire ou contactez-nous directement.</p>
			</div>
		</section>

	</main>
	{% include "components/footer.html.twig" %}
{% endblock %}
