{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "components/header.html.twig" %}
	<section class="hero">
		<div class="content">
			<h1>Révolutionnez votre entraînement avec une
				<span class="accent">technologie</span>
				de pointe</h1>
			<p>Optimisez vos performances et accélérez votre récupération grâce à des vêtements de sport intelligents intégrant une technologie de compression adaptative et des capteurs de suivi musculaire.</p>
			<div class="cta-cont">
				{% include "components/link_to.html.twig" with {'route_name': 'app_home','text': 'Voir les produits'} %}
			</div>
		</div>
	</section>

	<section class="popular">
		<div class="heading">
			<div class="title-cont">
				<h2 class="title">Les plus populaires</h2>
				<p>Les incontournables de FlexFit, plébiscités par les sportifs pour leur technologie et leur confort.</p>
			</div>
			{% include "components/link_see.html.twig" with {'route_name': 'app_home'} %}
		</div>
		<div class="articles-cont">
			{% for i in 0..2 %}
				{% include "components/product_card.html.twig" with {'image': 'images/todo.png', 'name': 'Pull FlexFit Performance', 'price': '149.99'} %}
			{% endfor %}
		</div>
	</section>

	<section class="testimonial"></section>

	<section class="home-collections"></section>

	<section class="showcase"></section>

	<section class="arguments"></section>

	{% include "components/footer.html.twig" %}


{% endblock %}
