{% extends 'base.html.twig' %}

{% block title %}Shop
{% endblock %}

{% block body %}
	{% include "components/header.html.twig" %}
	<main class="shop">
		<section class="product"></section>
	</main>
	{% include "components/footer.html.twig" %}
{% endblock %}
