.hero {
	display: flex;
	align-items: center;
	min-height: 80vh;
	background: var(--color-white-transparent-60);
	border-radius: 1rem;
	padding-inline: clamp(1.5rem, 0.8919rem + 2.5946vw, 3rem);

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		& h1 {
			font-size: var(--fs-xxl);
			text-wrap: balance;
			color: var(--color-white);
			line-height: 1;
		}
		& > p {
			font-size: var(--fs-text);
			text-wrap: balance;
			color: var(--color-white-transparent-60);
		}
	}
}
