.legal-hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	background: var(--color-dark-gray);
	padding-block: 4rem;
	border-radius: 1rem;
	padding-inline: clamp(1.5rem, 0.8919rem + 2.5946vw, 3rem);

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		text-align: center;
		align-items: center;

		& h1 {
			font-size: var(--fs-xxl);
			text-wrap: balance;
			color: var(--color-white);
			line-height: 1;
			font-weight: 500;
		}
		& > p {
			font-size: var(--fs-text-plus);
			text-wrap: balance;
			color: var(--color-white-transparent-60);
			max-width: 70ch;
		}
	}
}
.legal-body {
	max-width: 85%;
	padding-inline: 1rem;
	margin-inline: auto;
	counter-reset: list;

	h2 {
		font-size: var(--fs-l);
		font-weight: 600;
		margin-bottom: 1em;
	}
	h2 ~ p {
		font-size: var(--fs-text-plus);
		margin-bottom: 1em;
	}
	ol div {
		margin-top: var(--fs-xxl);

		& > li {
			font-size: var(--fs-m);
			margin-bottom: 1em;
			counter-increment: list;

			&::before {
				content: counter(list) ". ";
			}
		}
		p,
		ul li {
			font-size: var(--fs-text-plus);
			line-height: 1.5;
		}
		ul {
			list-style-type: disc;
			list-style-position: inside;
		}
	}
}
