.legal-body {
	max-width: 85%;
	padding-inline: 1rem;
	margin-inline: auto;
	counter-reset: list;

	h2 {
		font-size: var(--fs-l);
		font-weight: 600;
		margin-bottom: 1em;
	}
	h2 ~ p {
		font-size: var(--fs-text-plus);
		margin-bottom: 1em;
	}
	ol div {
		margin-top: var(--fs-xxl);

		& > li {
			font-size: var(--fs-m);
			margin-bottom: 1em;
			counter-increment: list;

			&::before {
				content: counter(list) ". ";
			}
		}
		p,
		ul li {
			font-size: var(--fs-text-plus);
			line-height: 1.5;
		}
		ul {
			list-style-type: disc;
			list-style-position: inside;
		}
	}
}
